<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>File Upload Example</title>

</head>
<body>
    <a href="javascript:history.back()">Back</a>
    <h3>Summary </h3>
    <p>Option 1 </p>
    <p> <%= summary %>.</p>

    <p><b></b>Option 2 </b></p>
    <p> <%= summary2 %>.</p>

    <p><b>Original text </b></p>
    <p><%= text %> </p>
    
    <% if (image != "") { %>
      <img width="50%" src="<%= image %> "/>
    <% } %>     
</body>
</html>
